body {
   background: #fff; /*white*/
   color: #000; /*black*/
   font-family: Arial;
   font-size: 14px;
}


a {
    color: #000000;
    text-decoration: none;
}
    a:visited {
        color: #4cff00;
    }

    a:focus {
        color: #94268c;
    }

.container {
    padding-top: 3em;
}

    /*<!--Bootstrap Over Rides-->*/
.carousel-inner .item .images {
    width: 70%;
    margin: auto;
}

.carousel-caption {
    opacity: 0.5;
    color: #fff;
    background: #000;
}

/*Removes gradient/shading behind the controls */
.carousel-control.left, .carousel-control.right {
    background-image: none;
    outline: 0;
    opacity: 1;
}
